@use '../utilities/mixins' as m;

.verifyEmail-section {
    &__content {
        @include m.flexbox(
            $direction: column, 
            $align-items: center, 
            $gap: 'lg'
        );

        p {
            @include m.flexbox($align-items: center, $gap: 'lg');
        }
    }
}