@use '../utilities/functions' as f;
@use '../utilities/mixins' as m;

.decoration {
    &--root {
        @include m.flexbox($direction: column);
        @include m.dimensions($width: 100%,
            $max-width: 'mw-content'
        );
        @include m.position($position: absolute,
            $top: 0,
            $left: 50%);
        @include m.zIndex(-2);
        @include m.transform($position: 'center-X');
        opacity: 0.2;

        &__item {
            @include m.dimensions($width: 50%);

            &:nth-child(odd) {
                align-self: flex-end;
            }

            &:nth-child(even) {
                align-self: flex-start;
            }

            svg {
                @include m.dimensions($width: 100%);

                path {
                    @include m.colors($fill: 'gray');
                }
            }
        }
    }
}