html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    li {
        cursor: pointer;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

